
.topBar {
    align-content:center;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {

    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color:white;
    border-style: solid;
    height:65px;
    border-color:gray;
    padding: 25px;
    margin: 0px;
}

.name {
    position:absolute;
    font-size: 20pt;
    float:left;
    color:white;
    background-color: #4aaaa5;
    border-color:gray;
    padding: 25px;
    clear:both;
}

.links {
    text-align:right;
    align-content:center;
    float:left;
    margin-left: 60%;
}

.personal {
    background-image: url("../Images/papyrus.png");
    background-repeat:repeat;
    background-size:cover;
    display:flex;
}

section {
    font-size: 12pt;
    width: 960px;
    float:left;
    margin-left: 30%;
    height: 100%;
    padding: 25px;
    margin: 50px;
    background-color: #ffffff;
}
.clearfix::after {
    content:"";
    display: table;
    clear:both;
}
footer {
    width:960px;
    text-align:center;
    background-color:#666666;
    color: #cccccc;
    border-style: solid;
    border-color: #4aaaa5;
}