* {
    box-sizing:border-box;
}

.topBar {
    justify-content:center;
    width: 100%;
    height:100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
    border-style: solid;
    height:86px;
    border-color: #cccccc;
    margin: 0 auto;
    align-content: center;
}

.profile {
    width:35%;
    float:left;
    margin: 0 auto;
}

.name {
    position:fixed;
    top:0px;
    left:200px;
    font-size: 20pt;
    float:left;
    color:white;
    background-color: #4aaaa5;
    border-color:gray;
    padding: 25px;
}

.links {
    position:relative;
    top:-45px;
    right:75px;
    font-size:18px;
    text-align:right;
    align-content:center;
    float:left;
    margin-left: 60%;
}

a{
    color:Black;
    font-weight:bold;
}
.personal {
    background-image: url("../Images/papyrus.png");
    background-repeat:repeat;
}

section {
    font-size: 12pt;
    width: 960px;
    float:left;
    position:relative;
    left:265px;
    height: 100%;
    padding: 25px;
    margin: 50px;
    background-color: #ffffff;
}

.about {
    text-align:justify;
    margin: 0 0 0 3px;
}

.clearfix::after {
    content:"";
    display: table;
    clear:both;
}

footer {
    width:100%;
    text-align:center;
    background-color:#666666;
    color: #cccccc;
    border-style: solid;
    border-color: #cccccc;
    position:fixed;
    bottom:1px;
}