* {
    box-sizing:border-box;
}

.topBar {
    justify-content:center;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
    border-style: solid;
    height:86px;
    border-color: #cccccc;
    margin: 0 auto;
    align-content: center;
}

.profile {
    float:left;
    margin: 12px 15px 0px 15px;
}

.name {
    position:relative;
    left:445px;
    float:left;
    font-size: 20pt;
    color:white;
    background-color: #4aaaa5;
    padding: 25px;
}

.links {
    position:relative;
    top:60px;
    right:490px;
    float:right;
}

a{
    color:darkgrey;
    font-weight:bold;
    text-decoration:none;
}
.background {
    background-image: url("../Images/gravel.png");
    display:flex;
}

section {
    font-size: 14pt;
    width: 960px;
    position:relative;
    left:400px;
    padding: 10px;
    margin: 50px;
    background-color: #ffffff;
}

.about {
    text-align:justify;
    margin: 0 0 0 3px;
}

.clearfix::after {
    content:"";
    display: table;
    clear:both;
}

footer {
    width:100%;
    height:60px;
    text-align:center;
    background-color:#666666;
    color: #cccccc;
    border-style: solid;
    border-color: #4aaaa5;
}

h1 {
    color:#4aaaa5;
    font-size: 36px;
    font-weight:bold;
}

.caption1 {
    color:#cccccc;
    background-color: #4aaaa5;
    padding:10px;
    width:300px;
    position:absolute;
    float:left;
    z-index:1;
    text-align:center;
    top:318px;
    left:10px;
}
.caption2 {
    color:#cccccc;
    background-color: #4aaaa5;
    padding:10px;
    width:300px;
    position:absolute;
    float:left;
    z-index:1;
    text-align:center;
    top:318px;
    left:330px;
}
.caption3 {
    color:#cccccc;
    background-color: #4aaaa5;
    padding:10px;
    width:300px;
    position:absolute;
    float:left;
    z-index:1;
    text-align:center;
    top:318px;
    left:650px;
}
.caption4 {
    color:#cccccc;
    background-color: #4aaaa5;
    padding:10px;
    width:300px;
    position:absolute;
    float:left;
    z-index:1;
    text-align:center;
    top:603px;
    left:10px;
}
.caption5 {
    color:#cccccc;
    background-color: #4aaaa5;
    padding:10px;
    width:300px;
    position:absolute;
    float:left;
    z-index:1;
    text-align:center;
    top:603px;
    left:330px;
}
.caption6 {
    color:#cccccc;
    background-color: #4aaaa5;
    padding:10px;
    width:300px;
    position:absolute;
    float:left;
    z-index:1;
    text-align:center;
    top:603px;
    left:650px;
}
.picture1 {
    float:left;
    margin-right:20px;
    z-index:initial;
    margin-bottom:15px;
}
.picture2 {
    float:left;
    margin-right:20px;
    z-index:initial;
    margin-bottom:15px;
}
.picture3 {
    float:left;
    z-index:initial;
    margin-bottom:15px;
}
.picture4 {
    float:left;
    margin-right:20px;
    z-index:initial;
}
.picture5 {
    float:left;
    margin-right:20px;
    z-index:initial;
}
.picture6 {
    float:left;
    z-index:initial;
}